.App {
  text-align: center;
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./fonts/AvenirLTStd-Book.otf) format('truetype');
}

/* LOGIN PAGE STYLES */

.left-image-home-page {
  float: left;
  height: 100vh;
  width: 71%;
  margin-top: -10px;
  padding-right: 4%;
}

.turtle-logo-home-page {
  float: left;
  width: 50px;
  /* padding-left: 5%; */
  padding-right: 5px;
}

.home-page-title {
  float: left;
  font-size: xx-large;
  margin-block-start: .5em;
}

.home-page-title-div {
  padding-top: 2.7%;
}

p {
  font-family: Avenir;
}

.treasury-text {
  color: #64d2a2;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.login-form {
  padding-top: 25%;
}

.login-label {
  float: left;
  /* padding-left: 5%; */
}

.form {
  float: left !important;
  /* padding-left: 5%; */
  padding-top: 1%;
}

.email-address-label {
  float: left;
  font-size: small;
}

.MuiInput-formControl {
 width: 165%;
}

.MuiFormControl-root.MuiTextField-root {
  padding-bottom: 5%;
}

.login-submit-button {
  background-color: #00b665 !important;
  color: white !important;
  width: 70% !important;
  height: 50px;
}

.MuiButton-label {
  font-size: 20px !important;
}

.forgot-password {
  font-size: medium;
  text-decoration: none;
  color: black;
  margin-top: 0 !important;
  margin-bottom: 10pxy !important;
}

.new-account {
  font-size: medium;
}

#standard-basic-label {
  font-size: 10pt;
}

.right-column {
  text-align: center;
}

/* SIGNUP PAGE STYLES */

.right-image-home-page {
  float: left;
  height: 100vh;
  width: 71%;
  margin-top: -10px;
}
