.App {
  text-align: center;
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./fonts/AvenirLTStd-Book.otf) format('truetype');
}

/* LOGIN PAGE STYLES */

.left-image-home-page {
  float: left;
  height: 100vh;
  width: 71%;
  object-fit: cover;
  padding-right: 4%;
}

.turtle-logo-home-page {
  float: left;
  width: 50px;
  /* padding-left: 5%; */
  padding-right: 5px;
}

.home-page-title {
  float: left;
  font-size: xx-large;
  margin-block-start: .5em;
}

.home-page-title-div {
  padding-top: 2%;
}

p {
  font-family: Avenir;
}

.treasury-text {
  color: #64d2a2;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.login-form {
  padding-top: 20%;
}

.login-label {
  float: left;
  padding-left: 4%;
}

.form {
  float: left !important;
  /* padding-left: 5%; */
  padding-top: 1%;
}

.email-address-label {
  float: left;
  font-size: small;
}

.MuiInput-formControl {
 width: 165%;
}

.MuiFormControl-root.MuiTextField-root {
  padding-bottom: 5%;
}

.login-submit-button {
  background-color: #00b665 !important;
  color: white !important;
  width: 70% !important;
  height: 50px;
  text-decoration: none;
}

.MuiButton-label {
  font-size: 100%;
  text-decoration: none !important;
}

.forgot-password {
  font-size: medium;
  text-decoration: none;
  color: black;
  margin-top: 0 !important;
  margin-bottom: 10pxy !important;
}

.new-account {
  font-size: medium;
}

#standard-basic-label {
  font-size: 10pt;
}

.right-column {
  text-align: center;
}

/* SIGNUP PAGE STYLES */

.right-image-home-page {
  float: right;
  height: 100vh;
  width: 50%;
  /* margin-right: -150px; */
  object-fit: cover;
  /* margin-top: -10px; */
}

.turtle-logo-signup-page {
  float: left;
  width: 50px;
  padding-left: 25px;
  padding-right: 5px;
}

.first-column-signup {
  margin-right: 5em !important;
  width: 35% !important;
}

.second-column-signup {
  width: 35% !important;
}

.signup-form {
  padding-top: 6%;
}

.hedera-label {
  float: left;
  padding-left: 4%;
  font-size: large;
  margin: 0;
}

.hedera-button {
  background-color: #8259ef !important;
  color: white !important;
  margin-left: 8em !important;
}
/* 
.part-two {
  padding-top: 2.7em;
} */